# https://github.com/linuxserver/docker-sonarr

# Provide the desired id that the container should use when running.
# This is helpful to maintain ownership of the config files and databases.
# Run id `whoami` to find the ID of your current user and group.
PUID=1000
PGID=1000

# Set the desired timezone for the container.
# Run `cat /etc/timezone` to find the timezone of the host os.
TZ=America/New_York

# Provide the public-facing domain to use for this service.
# Specify multiple hosts with a comma delimiter.
# See https://github.com/jwilder/nginx-proxy
VIRTUAL_HOST=sonarr.exampledomain.com

# Provide the internal container service port to forward traffic via proxy
# This port will not be public-facing, it is used by nginx for reverse-proxy.
# See https://github.com/jwilder/nginx-proxy
VIRTUAL_PORT=8989

# The LETSENCRYPT_HOST variable most likely needs to be the same as
# the VIRTUAL_HOST variable and must be publicly reachable domains.
# Specify multiple hosts with a comma delimiter.
# See https://github.com/JrCs/docker-letsencrypt-nginx-proxy-companion
LETSENCRYPT_HOST=sonarr.exampledomain.com
LETSENCRYPT_EMAIL=example@email.com
