plex.__CLOUDFLARE_DOMAIN__ {
    gzip
    # use builtin auth so api access still works
    proxy / plex:32400 {
        transparent
    }
    tls {
        dns cloudflare
    }
}
tautulli.__CLOUDFLARE_DOMAIN__ {
    gzip
    # use builtin auth so api access still works
    proxy / tautulli:8181 {
        transparent
    }
    tls {
        dns cloudflare
    }
}
sonarr.__CLOUDFLARE_DOMAIN__ {
    gzip
    basicauth / admin __BASICAUTH_PASSWORD__
    proxy / sonarr:8989 {
        transparent
    }
    tls {
        dns cloudflare
    }
}
transmission.__CLOUDFLARE_DOMAIN__ {
    gzip
    basicauth / admin __BASICAUTH_PASSWORD__
    proxy / transmission:9091 {
        transparent
    }
    tls {
        dns cloudflare
    }
}
radarr.__CLOUDFLARE_DOMAIN__ {
    gzip
    basicauth / admin __BASICAUTH_PASSWORD__
    proxy / radarr:7878 {
        transparent
    }
    tls {
        dns cloudflare
    }
}
nzbget.__CLOUDFLARE_DOMAIN__ {
    gzip
    basicauth / admin __BASICAUTH_PASSWORD__
    proxy / nzbget:6789 {
        transparent
    }
    tls {
        dns cloudflare
    }
}
hydra.__CLOUDFLARE_DOMAIN__ {
    gzip
    # use builtin auth so api access still works
    proxy / hydra:5075 {
        transparent
    }
    tls {
        dns cloudflare
    }
}