#!/usr/bin/env bash

# https://github.com/linuxserver/docker-letsencrypt
export LETSENCRYPT_EMAIL="email@address.com"
export LETSENCRYPT_URL="topleveldomain.com"
export LETSENCRYPT_SUBDOMAINS="subdomain1,subdomain2"
export LETSENCRYPT_ONLY_SUBDOMAINS="true"

export COMMON_TZ="$(date +%Z)"
export COMMON_PUID="$(id -u)"
export COMMON_PGID="$(id -g)"