#!/usr/bin/env bash

# https://github.com/linuxserver/docker-letsencrypt
export LETSENCRYPT_EMAIL="email@address.com"
export LETSENCRYPT_URL="topleveldomain.com"
export LETSENCRYPT_SUBDOMAINS="subdomain1,subdomain2"
export LETSENCRYPT_ONLY_SUBDOMAINS="true"

# https://github.com/plexinc/pms-docker
# https://www.plex.tv/claim/
# expires after 5 minutes so set it once then run 'bin/up plex'
export PLEX_CLAIM="my-claimtoken"

# common
export HOSTNAME="$(hostname)"
export TZ="$(date +%Z)"
export PUID="$(id -u)"
export PGID="$(id -g)"