
### COMMON ###

# Provide the desired id that the container should use when running.
# This is helpful to maintain ownership of the config files and databases.
# Run id `whoami` to find the ID of your current user and group.
PUID=
PGID=

# If you want to have your container names resolved by netdata it needs to have access to docker group.
# To achive that just add environment variable PGID=999 to netdata container,
# where 999 is a docker group id from your host. This number can be found by running:
# grep docker /etc/group | cut -d ':' -f 3
DOCKER_PGID=

# Set the timezone inside the container.
# The complete list can be found here: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# eg. America/Toronto
TZ=

# Provide a directory for storing service configuration locally
# This way it persists and is not lost on container update
# Subdirectories will be created automatically for each service
# Path should be absolute, or relative to docker-compose.yml
# eg. /data/config
CONFIG_DIR=

# Provide a directory for storing temporary download files.
# This way it persists and is not lost on container update.
# Subdirectories can be created later to separate tv, movies, nzget, etc.
# Path should be absolute, or relative to docker-compose.yml.
# eg. /data/downloads
DOWNLOADS_DIR=

# Provide a directory for storing completed downloads and media.
# This way it persists and is not lost on container update.
# Subdirectories can be created later to separate tv, movies, nzget, etc.
# Path should be absolute, or relative to docker-compose.yml.
# eg. /data/media
MEDIA_DIR=

# The claim token for the server to obtain a real server token.
# If not provided, server will not be automatically logged in.
# If server is already logged in, this parameter is ignored.
# You can obtain a claim token to login your server to your plex account by visiting https://www.plex.tv/claim
PLEX_CLAIM=

### LETSENCRYPT ###

# Enable ACME (Let's Encrypt) automatic SSL.
ACME_EMAIL=

# Each service should have a dedicated domain or subdomain with A-records pointing to the public IP of your server.
# eg. plex.example.com
PLEX_HOST=
JELLYFIN_HOST=
NZBGET_HOST=
SONARR_HOST=
RADARR_HOST=
NZBHYDRA_HOST=
OMBI_HOST=
DUPLICATI_HOST=
NETDATA_HOST=
TRAEFIK_HOST=
PROWLARR_HOST=

# https://doc.traefik.io/traefik/middlewares/http/ipwhitelist/#sourcerange
# Allowed IPs (or ranges of allowed IPs by using CIDR notation).
# Allow all addresses with "IPALLOWLIST=0.0.0.0/0,::/0".
IPALLOWLIST=

# https://doc.traefik.io/traefik/middlewares/http/basicauth/#users
# The users option is an array of authorized users. Each user must be declared using the name:hashed-password format.
# Note: when used in docker-compose.yml all dollar signs in the hash need to be doubled for escaping.
# To create user:password pair, it's possible to use this command:
# echo $(htpasswd -nB user) | sed -e s/\\$/\\$\\$/g
BASICAUTH_USERS=
