
# Provide the desired id that the container should use when running.
# This is helpful to maintain ownership of the config files and databases.
# Run id `whoami` to find the ID of your current user and group.
PUID=
PGID=

# Set the desired timezone for the container.
# Run `cat /etc/timezone` to find the timezone of the host os.
# eg. America/New_York
TZ=

# Provide your Cloudflare domain, email, and global API key for DNS validation
# see https://docs.traefik.io/configuration/acme/
# only required if using traefik https reverse proxy
CF_DOMAIN=
CF_API_EMAIL=
CF_API_KEY=

# Provide a directory for storing service configuration locally
# This way it persists and is not lost on container update
# Path should be absolute, or relative to docker-compose.yml
# eg. ./config
CONFIG_DIR=

# Provide a directory for storing downloads and media locally
# This way it persists and is not lost on container update
# Subdirectories can be created later (eg. ./downloads/tv).
# Path should be absolute, or relative to docker-compose.yml
# eg. ./downloads
DOWNLOADS_DIR=