
# https://github.com/plexinc/pms-docker
PLEX_UID=1000
PLEX_GID=1001
# https://www.plex.tv/claim/
# expires after 5 minutes so set it once then run 'bin/up plex'
PLEX_CLAIM=claim-abcdefghijklmnopqrstuvwxyz
